# optimize-images
OPTIMIZE_IMAGES_WEBP_QUALITY=85
# OPTIMIZE_IMAGES_EXCLUDE=["images/path/to/**/*.png"]

# optimize-videos
OPTIMIZE_VIDEOS_H264_CRF=23
OPTIMIZE_VIDEOS_AAC_BITRATE=128k
# OPTIMIZE_VIDEOS_H264_PRESET=slow
# OPTIMIZE_VIDEOS_REMOVE_AUDIO=true
# OPTIMIZE_VIDEOS_EXCLUDE=["videos/path/to/**/*.mp4"]
