@import "tailwindcss";
@import "./ease.css";

@theme {
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    line-height: normal;
    overflow-x: hidden;
  }
}
